:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  width: 100vw;
  height: 100vh;
}

/* Estilo para los Popups de MapLibre */
.maplibregl-popup-content {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  border: 1px solid #ddd;
}

.maplibregl-popup-close-button {
  padding: 5px;
}
